
@{
    ViewData["Title"] = "ForgetPassword1";
    Layout = null;

}
<style>
    header {
        display: none;
    }

    #footer {
        display: none;
    }
    .t1{
        font-size:20px;

    }
    .img2{
        width:500px !important;
        height:500px !important;
       margin-top:20px;   
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container-fluid">
<div class="row">
    <div class="col-md-3" style="background-color: #0099FF">
        <h1 style="font-size: 60px; margin-top: 20px;color:white;margin-left:20px">Two-step Recovery</h1>
        <h2 style="color:white;margin-top:200px;margin-left:60px">Step One</h2>
        <img src="~/Images/Customer/mail.svg" width="200" height="200" style="margin-left:30px;margin-top:3px;" />

    </div>
    <input type="hidden" value="@ViewBag.indicator" id="indi" />
    <div class="col-md-4">
        <h1 style="margin-top:20px;font-size:60px;margin-left:20px;">Forgot Password?</h1>
        <p class="t1">No worries! Just enter your Email and we will send you a Tempory Password</p>
        <form asp-action="setEmail">
            <div class="input-group mb-3" style="margin-top:150px">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="email" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="emailin" />

            </div>
            <input type="submit" class="btn btn-success" style="width:200px;margin-left:140px;margin-top:20px"/>
        </form>
    </div>
    <div class="col-md-5">
        <img src="~/Images/Customer/fp.svg" class="img2 " />
    </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        if ($('#indi').val() == 'false') {
            alert("Email you entered is Invalid please try again!!!")
        }
    });
   
</script>