@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>

    .i1 {
        position: relative;
        top: -35px;
        left: 280px;
        cursor: pointer;
    }

    ::selection {
        background: #4158d0;
        color: #fff;
    }

    .wrapper {
        width: 380px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    }

        .wrapper .title {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            line-height: 100px;
            color: #fff;
            user-select: none;
            border-radius: 15px 15px 0 0;
            background: linear-gradient(-135deg, #c850c0, #4158d0);
        }

        .wrapper form {
            padding: 10px 30px 50px 30px;
        }

            .wrapper form .field {
                height: 50px;
                width: 100%;
                margin-top: 20px;
                position: relative;
            }

                .wrapper form .field input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    font-size: 17px;
                    padding-left: 20px;
                    border: 1px solid lightgrey;
                    border-radius: 25px;
                    transition: all 0.3s ease;
                }

                    .wrapper form .field input:focus,
                    form .field input:valid {
                        border-color: #4158d0;
                    }

                .wrapper form .field label {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    color: #999999;
                    font-weight: 400;
                    font-size: 17px;
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all 0.3s ease;
                }

    form .field input:focus ~ label,
    form .field input:valid ~ label {
        top: 0%;
        font-size: 16px;
        color: #4158d0;
        background: #fff;
        transform: translateY(-50%);
    }

    form .content {
        display: flex;
        width: 100%;
        height: 50px;
        font-size: 16px;
        align-items: center;
        justify-content: space-around;
    }

        form .content .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form .content input {
            width: 15px;
            height: 15px;
            background: red;
        }

        form .content label {
            color: #262626;
            user-select: none;
            padding-left: 5px;
        }

        form .content .pass-link {
        }

    form .field input[type="submit"] {
        color: #fff;
        border: none;
        padding-left: 0;
        margin-top: -10px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        background: linear-gradient(-135deg, #c850c0, #4158d0);
        transition: all 0.3s ease;
    }

        form .field input[type="submit"]:active {
            transform: scale(0.95);
        }

    form .signup-link {
        color: #262626;
        margin-top: 20px;
        text-align: center;
    }

        form .pass-link a,
        form .signup-link a {
            color: #4158d0;
            text-decoration: none;
        }

            form .pass-link a:hover,
            form .signup-link a:hover {
                text-decoration: underline;
            }
    body {
        background-color: #f2f2f2;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container-fluid" style="background-color: #f2f2f2">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top:60px">
            <div class="wrapper">
                <div class="title">
                    Reset Password
                </div>
                <form asp-action="savenewPassword">
                    <div class="field">
                        <input type="password" class="form-control" name="np" id="password2" required />
                        <i class="bi bi-eye-slash i1" id="togglePassword2"></i>
                        <div class="registrationFormAlert" id="divPasswordValidationResult"></div>
                        <label>Enter New Password</label>
                    </div>
                    <div class="field">
                        <input type="password" class="form-control" name="npa" id="password3" required style="margin-top:80px" />
                        <i class="bi bi-eye-slash i1" id="togglePassword3"></i>
                        <span id="message"></span>
                        <input type="hidden" value="@ViewBag.cid" name="getcid">
                        <label>Re-enter the Password</label>
                    </div>
                    <div class="content">

                    </div>
                    <div class="field">
                        <input type="submit" value="Save changes" id="save" disabled="disabled">
                    </div>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
                </form>
            </div>
        </div>
    </div>
</div>



<script>



    const togglePassword2 = document.querySelector('#togglePassword2');
    const password2 = document.querySelector('#password2');
    togglePassword2.addEventListener('click', function (e) {

        const type1 = password2.getAttribute('type') === 'password' ? 'text' : 'password';
        password2.setAttribute('type', type1);

        this.classList.toggle('bi-eye');
    });



    const togglePassword3 = document.querySelector('#togglePassword3');
    const password3 = document.querySelector('#password3');
    togglePassword3.addEventListener('click', function (e) {

        const type2 = password3.getAttribute('type') === 'password' ? 'text' : 'password';
        password3.setAttribute('type', type2);

        this.classList.toggle('bi-eye');
    });

    $('#password3').on('keyup', function () {
        var num = 1;
        if ($('#password2').val() == $('#password3').val()) {
            $('#message').html('Matching').css('color', 'green');

            $('#save').removeAttr('disabled');




        } else {
            $('#message').html('Not Matching').css('color', 'red');
            $('#save').attr('disabled', 'disabled');
        }

    });




    function validatePassword() {
        var password = $("#password2").val();


        if (password.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@@%!])[0-9a-zA-Z@@%!]{8,}$/)) {
            $("#divPasswordValidationResult").html("Good").css('color', 'green');
            $('#save').removeAttr('disabled');
            $("#hid1").val(1);
        }
        else {
            $("#divPasswordValidationResult").html("Bad").css('color', 'red');
            $('#save').attr('disabled', 'disabled');

        }

    }

    $(document).ready(function () {
        $("#password2").keyup(validatePassword);
    });

</script>