
@{
    ViewData["Title"] = "ForgetPassword2";
    Layout = null;

}
<style>
    header {
        display: none;
    }

    #footer {
        display: none;
    }

    .t1 {
        font-size: 15px;
    }

    .img2 {
        width: 500px !important;
        height: 500px !important;
        margin-top: 20px;
    }
    .i{
        width:60px !important;
        height:60px !important;
       font-size:40px !important;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: #0099FF">
            <h1 style="font-size: 60px; margin-top: 20px;color:white;margin-left:20px">Two-step Recovery</h1>
            <h2 style="color:white;margin-top:180px;margin-left:80px">Step Two</h2>
            <img src="~/Images/Customer/fp2.svg" width="200" height="200" style="margin-left:30px;margin-top:3px;" />

        </div>
        <div class="col-md-4">
            <input type="hidden" value="@ViewBag.indicator" id="indi" />
           
            <h1 style="margin-top:20px;font-size:60px;margin-left:20px;">Forgot Password?</h1>
            <p class="t1">We have sent a Tempory Password to your Email<br /><h4> kavinduchamith01@gmail.com</h4></p>
            <form asp-action="verifypassword" style="margin-top:150px;margin-left:30px">
                <input type="hidden" value="@ViewBag.cid" id="cid" />
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" id="in1" class="form-control i" maxlength="1" name="inp1" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="in2" class="form-control i" style="margin-left:10px" maxlength="1" name="inp2" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="in3" class="form-control i" style="margin-left:20px" maxlength="1" name="inp3" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="in4" class="form-control i" style="margin-left:30px" maxlength="1" name="inp4" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="in5" class="form-control i" style="margin-left:40px" maxlength="1" name="inp5" />
                    </div>
                </div>
                <input type="hidden" value="@ViewBag.pass" name="pass" />
                <input type="submit" class="btn btn-primary" style="width:200px;margin-left:90px;margin-top:40px" value="Verify" />
            </form>
            
        </div>
        <div class="col-md-5">
            <img src="~/Images/Customer/security.svg" class="img2 " />
        </div>
    </div>
</div>

<script>

   

        $(document).ready(function () {
        if ($('#indi').val() == 'false') {
            alert("Password you entered is Invalid please check again!!!")
        }
    });



    $("#in1").keyup(function () {
        $("#in1").css("background-color", "#0099FF");
       
    });



    $("#in2").keyup(function () {
        $("#in2").css("background-color", "#0099FF");
    });
    $("#in3").keyup(function () {
        $("#in3").css("background-color", "#0099FF");
    });
    $("#in4").keyup(function () {
        $("#in4").css("background-color", "#0099FF");
    });
    $("#in5").keyup(function () {
        $("#in5").css("background-color", "#0099FF");
    });


</script>
