@model ITP.Models.handlesupplierClass

@{
    ViewData["Title"] = "Edit";
}
<style>
    div.col-md-6 {
        filter: drop-shadow(10px 10px 10px black);
    }
</style>
<body style="background-image: linear-gradient(#00008b, #483d8b,#6a5acd,#4682b4,#87ceeb); ">
    <div class="col-md-6" style="position:absolute;margin-left:30%;margin-top:5%; padding-left:30px">
        <img src="~/Images/Handlesupplier/senari2.png" alt="Alternate Text" class="img-responsive" style="width:670px; height: 500px;" />
    </div>
    @*<h1 style="text-align: center; color: darkblue; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px lightblue;"><b>WANT TO EDIT A SUPPLIER?</b></h1>*@
    <hr />
    <div class="row">
        <div class="col-md-4" style="background-color:white; border-radius:30px; padding:20px;">
            <h4 style="text-align: center; color:cornflowerblue;"><b>WANT TO EDIT A SUPPLIER?</b></h4>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SupplierIndex" class="control-label"></label>
                    <input asp-for="SupplierIndex" class="form-control" readonly />
                    <span asp-validation-for="SupplierIndex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameofSupplier" class="control-label"></label>
                    <input asp-for="NameofSupplier" class="form-control" />
                    <span asp-validation-for="NameofSupplier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Company" class="control-label"></label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-primary" /> |
                    <a asp-action="Index" class=" btn btn-outline-primary">Back to List</a>
                </div>
            </form>
        </div>
        <div style="width:100px; height:200px;position:absolute;margin-left:50%; background-image:url('vectors/images2.png');"></div>
    </div>

    @*<div>
            <a asp-action="Index" class=" btn btn-outline-primary">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>