@model ITP.Models.OrderListClass

@{
    ViewData["Title"] = "Create";
}

<style>
    div.col-md-6 {
        filter: drop-shadow(10px 10px 10px black);
    }
</style>
<body style="background-image: linear-gradient(#00008b, #483d8b,#6a5acd,#4682b4,#87ceeb); ">

    <div class="col-md-6" style="margin-left:38% ; margin-top:6% ; position:absolute">
        <img src="~/Images/Delivery/rrr.png" alt="Alternate Text" class="img-responsive" style="width:90%; height:90%" />
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4" style="background-color:white; padding:25px; border-radius:30px;">
            <h4 style="text-align: center; color:cornflowerblue"> <b>Add New Orders</b></h4>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="Deliveryid" class="control-label"></label>
                        <input asp-for="Deliveryid" class="form-control" />
                        <span asp-validation-for="Deliveryid" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="Order_ID" class="control-label"></label>
                    <input asp-for="Order_ID" class="form-control" />
                    <span asp-validation-for="Order_ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receivername" class="control-label"></label>
                    <input asp-for="Receivername" class="form-control" />
                    <span asp-validation-for="Receivername" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryAddress" class="control-label"></label>
                    <input asp-for="DeliveryAddress" class="form-control" />
                    <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ODateTime" class="control-label"></label>
                    <input asp-for="ODateTime" class="form-control" />
                    <span asp-validation-for="ODateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Driver" class="control-label"></label>
                    <input asp-for="Driver" class="form-control" />
                    <span asp-validation-for="Driver" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OStatus" class="control-label"></label>
                    <input asp-for="OStatus" class="form-control" />
                    <span asp-validation-for="OStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" /> |
                    <a asp-action="Index" class="btn btn-info">Back to List</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>