@model ITP.Models.excessfaultyclass

@{
    ViewData["Title"] = "Create";
}
<style>
    div.col-md-6 {
        filter: drop-shadow(10px 10px 10px black);
    }
</style>
<body style="background-image: linear-gradient(#00008b, #483d8b,#6a5acd,#4682b4,#87ceeb); ">
    <div class="col-md-6" style="position:absolute;margin-left:30%;margin-top:5%; padding-left:30px">
        <img src="~/Images/excess/creteexcess.png" alt="Alternate Text" class="img-responsive" style="width:670px; height: 500px;" />
    </div>

    <div class="row">
        <div class="col-md-4" style="background-color:white; padding:25px; border-radius:30px; margin-top:1%">
            <h4 style="text-align: center; color:cornflowerblue"><b>ADD NEW EXCESS/FAULTY GOODS</b></h4>
                 <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="SupplierID" class="control-label"></label>
                            <input asp-for="SupplierID" class="form-control" />
                            <span asp-validation-for="SupplierID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductID" class="control-label"></label>
                            <input asp-for="ProductID" class="form-control" />
                            <span asp-validation-for="ProductID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SupplyDate" class="control-label"></label>
                            <input asp-for="SupplyDate" class="form-control" />
                            <span asp-validation-for="SupplyDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExcessFaultyStatus" class="control-label"></label>
                            <input asp-for="ExcessFaultyStatus" class="form-control" />
                            <span asp-validation-for="ExcessFaultyStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="QuantityPurchased" class="control-label"></label>
                            <input asp-for="QuantityPurchased" class="form-control" />
                            <span asp-validation-for="QuantityPurchased" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Reason" class="control-label"></label>
                            <input asp-for="Reason" class="form-control" />
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary"/> 
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
       
    
</body>